<div class="body-main">
    <img src="/img/register.png">

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username_r" class="form-control" placeholder="Username">
    <p id="empty_username" style="color: red; display: none">Empty Username</p>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password_r" class="form-control" placeholder="Password">
    <p id="empty_password" style="color: red; display: none">Empty password!</p>

    <button class="btn btn-lg btn-block" style="background-color: black; border-color:black; color: #f99b0e" id="register"><b>Sign up</b></button>
    <button class="btn btn-lg btn-block" style="background-color: #e43838; border-color:black; color: white" id="cancel-register"><b>Cancel</b></button>
</div>