<div id="exercises">

    <input type="hidden" id="dayName">

    <div class="resume-content mr-auto h3">
        <div id="exercise_one" style="color: #d52727; display: inline;"></div>
        <div id="exercise_one_weight" style="color: black; display: inline"></div>
        <input type="hidden" id="exOneWeight">
    </div>

    <br>

    <div id="ex_one_buttons">
        <input type="number" max="5" min="0" value="5" class="ex_one_reps">
        <input type="number" max="5" min="0" value="5" class="ex_one_reps">
        <input type="number" max="5" min="0" value="5" class="ex_one_reps">
        <input type="number" max="5" min="0" value="5" class="ex_one_reps">
        <input type="number" max="5" min="0" value="5" class="ex_one_reps">
    </div>

    <br>
    <br>
    <br>

    <div class="resume-content mr-auto h3">
        <div style="color: #d52727; display: inline;" id="exercise_two"></div>
        <div style="color: black; display: inline;" id="exercise_two_weight"></div>
        <input type="hidden" id="exTwoWeight">
    </div>

    <br>

    <div id="ex_two_buttons">
        <input type="number" max="5" min="0" value="5" class="ex_two_reps">
        <input type="number" max="5" min="0" value="5" class="ex_two_reps">
        <input type="number" max="5" min="0" value="5" class="ex_two_reps">
        <input type="number" max="5" min="0" value="5" class="ex_two_reps">
        <input type="number" max="5" min="0" value="5" class="ex_two_reps">
    </div>

    <br>
    <br>
    <br>

    <div class="resume-content mr-auto h3">
        <div style="color: #d52727; display: inline;" id="exercise_three"></div>
        <div style="color: black; display: inline;" id="exercise_three_weight"></div>
        <input type="hidden" id="exThreeWeight">
    </div>

    <br>

    <div id="ex_three_buttons">
        <input type="number" max="5" min="0" value="5" class="ex_three_reps">
        <input type="number" max="5" min="0" value="5" class="ex_three_reps">
        <input type="number" max="5" min="0" value="5" class="ex_three_reps">
        <input type="number" max="5" min="0" value="5" class="ex_three_reps">
        <input type="number" max="5" min="0" value="5" class="ex_three_reps">
    </div>

    <br>
    <br>
    <br>

    <button class="btn btn-danger btn-lg" style="background-color:#d52727; color:white; display: inline;" id="complete">Complete</button>
    <button class="btn btn-danger btn-lg" style="background-color:#d52727; color:white; display: inline;" id="stop">Delete</button>

</div>